body {
    margin: 0;
    background-color: #F3E5D7;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: YoungSerif-Regular;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: Outfit-Light;
    src: url(assets/fonts/outfit/static/Outfit-Light.ttf)
}

#card {
    width: 736px;
    height: 1708px;
    border-radius: 24px;
    background-color: #FFFFFF;
    margin: 80px auto;
}

.top-image img {
    width: 656px;
    height: 300px;
    margin: 40px 40px 0;
}

.text-content {
    margin: 40px;
}

.title h1 {
    font-family: YoungSerif-Regular;
    font-weight: 300;
    color: #312E2C;
}

.title p {
    font-family: Outfit-Light;
    margin-top: 24px;
    color: #5F564D;
}

.preparation {
    width: 656px;
    height: 180px;
    border-radius: 12px;
    background-color: #FFF7FB;
    margin-top: 32px;
    padding: 28px;
    box-sizing: border-box;
}

.preparation h3 {
    font-family: Outfit-Light;
    font-weight: bold;
    color: #7A284E;
}

.preparation ul {
    padding-left: 0;
    list-style-position: inside;
}

.preparation li {
    font-family: Outfit-Light;
    color: #5F564D;
    line-height: 1.5em;
    padding-bottom: 5px;
}

.preparation li::marker {
    color: #7A284E;
}

.preparation li>span {
    font-weight: bold;
}

.ingredients {
    width: 656px;
    height: 220px;
    margin-top: 32px;
}

.ingredients h2 {
    font-family: YoungSerif-Regular;
    color: #7A284E;
    font-weight: lighter;
}

.ingredients ul {
    padding-left: 0;
    list-style-position: inside;
}

.ingredients li {
    font-family: Outfit-Light;
    color: #5F564D;
    line-height: 1.5em;
    padding-bottom: 5px;
}

.ingredients li::marker {
    color: #7A284E;
}

.instructions {
    width: 656px;
    height: 332px;
    margin-top: 32px;
}

.instructions h2 {
    font-family: YoungSerif-Regular;
    color: #7A284E;
    font-weight: lighter;
}

.instructions ol {
    padding-left: 20px;
}

.instructions li {
    font-family: Outfit-Light;
    color: #5F564D;
    padding-left: 20px;
    padding-bottom: 10px;
}

.instructions li::marker {
    font-weight: bold;
    color: #7A284E;
}

.instructions li>span {
    font-weight: bold;
}

.nutrition{
    width: 656px;
    height: 268px;
    margin-top: 32px;
}

.nutrition h2 {
    font-family: YoungSerif-Regular;
    color: #7A284E;
    font-weight: lighter;
}

table {
    width: 656px;
    height: 168px;
    border-collapse: collapse;
}

caption {
    font-family: Outfit-Light;
    color: #5F564D;
    text-align: left;
    margin: 24px 0;
}

tr:nth-of-type(-n+3) {
    border-bottom: 1px solid #E3DDD7;
    line-height: 24px;
}

td {
    font-family: Outfit-Light;
    color: #5F564D;
    padding-left: 20px;
    width: 50%;
}

th {
    font-family: Outfit-Light;
    color: #7A284E;
    text-align: left;
}

hr {
    border: none;
    border-top: 1px solid #E3DDD7;
}

@media only screen and (max-width: 991px) {
    body {
        background-color: #FFFFFF;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    #card {
        border-radius: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .top-image img {
        width: 100%;
        height: auto;
        border-radius: 0;
        margin: 0;
    }

    .text-content {
        width: calc(100% - 80px);
        margin: 40px;
    }

    .title, .preparation, .ingredients, .instructions, .nutrition, table {
        width: 100%;
        height: auto;
    }
}